<!--bootstrap tutorial: https://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_grid_system.cfm -->

<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-6">
      <app-open-file></app-open-file>
    </div>

    <div class="col-md-6">
      <app-save-file></app-save-file>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-file-upload></app-file-upload>
    </div>
    <div class="col-md-6">
      <app-file-download></app-file-download>
    </div>
  </div>
</div>